<!-- About Section -->
	<section class="success" id="services">
	    <div class="container">
	        <div class="row">
	            <div class="col-lg-12 text-center">
	                <h2>Take note</h2>
	                <hr class="star-light">
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-lg-4 text-center">
	                <h3>La celebrazione</h3>
			<p>Tutti i dettagli</p>
		    </div>
	            <div class="col-lg-4 col-lg-offset-0 text-center">
		      <h3>il fiocco</h3>
		      <p>Amore i punti devono essere tre :). testo molto lungo per vedere che cosa succede</p>
	            </div>
	            <div class="col-lg-4 text-center">
	              <h3>I festeggiamenti</h3>
		      <p>Agriturismo Ape e Girasole. testo molto lungo per vedere che cosa succede</p>
	            </div>
	        </div>
	    </div>
	</section>
