<!-- About Section -->
	<section class="success" id="services">
	    <div class="container">
	        <div class="row">
	            <div class="col-lg-12 text-center">
	                <h2>Informazioni Essenziali</h2>
	                <hr class="star-light">
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-lg-4 text-center">
                        <img class="img-circle" src="{{SITE_URL}}/images/header-bg.jpg" style="height: 150px; width:150px;"/>
	                <h3>La celebrazione</h3>
			<p>
                        Il nostro matrimonio sarà celebrato
			all'<a href="https://www.google.com/maps/place/41%C2%B005'39.0%22N+14%C2%B024'21.8%22E/@41.094156,14.4055028,163m/data=!3m2!1e3!4b1!4m2!3m1!1s0x0:0x0">Eremo
			di San Vitaliano</a> alle ore 10.59 (fuso di Milano) del 28 Maggio 2016.
                        </p>
                        <p>
                          Sara ha promesso che sarà più puntuale di un treno svizzero.  Marco spera che il treno svizzero non diventi un autobus di Messina o Caserta.
                        </p>
                        <p>
                          Per stare tranquilli e incoraggiare lo sposo 10.30 in chiesa.
                        </p>
		    </div>
	            <div class="col-lg-4 col-lg-offset-0 text-center">
                      <img class="img-circle" src="{{SITE_URL}}/images/header-bg.jpg" style="height: 150px; width:150px;"/>
		      <h3>I petali</h3>
                      <p>
                        NIENTE RISO MA SI AI PETALI.
                      </p>
                      <p>
                        Avete letto bene :).  È nostro desiderio che all'uscita dalla Chiesa non ci venga lanciato del riso ma solo tanti coloratissimi petali.
                      </p>
                      <p>
                        Se non potete resistere al desiderio, perchè non lanciarne un pacco (chiuso) dentro un cesto della Caritas? Porta bene lo stesso (forse di più).
                      </p>
	            </div>
	            <div class="col-lg-4 text-center">
                      <img class="img-circle" src="{{SITE_URL}}/images/header-bg.jpg" style="height: 150px; width:150px;"/>
	              <h3>I festeggiamenti</h3>
		      <p>A seguire festeggeremo insieme all'agriturismo l'<a href="http://www.apegirasole.it">Ape e il giralose</a>.</p>
                      <p>Programmate il navigatore verso:<br/>
                        via Fusco, 15 fraz. Squille 81010 Castel Campagnano (Caserta).<br/>
                        Oppure seguite Google Maps <a href="https://goo.gl/maps/FtKgWmdHYSt">qui</a>.</p>
                      </p>
                      <p>L'atmosfera sarà semplice e familiare: le cravatte si potranno allentare e i tacchi potranno lasciare il posto alle ballerine ;-)</p>
	            </div>
	        </div>
	    </div>
	</section>
